
<body>
    
    <div class="btn-home">
        <a routerLink="/user-page">
            <img src="../../../../assets/images/home-icon.png" alt="home-icon">
        </a>
    </div>

    <div class="content">
        <div class="first-row">
                <div class="generic-button">
                    <h1>O que é?</h1>
                    <p class="generic-title">
                        A catarata é uma lesão ocular que torna o cristalino opaco e deixa a visão embaçada, como se houvesse uma névoa diante dos olhos. A catarata é uma lesão ocular que atinge e torna opaco o cristalino (lente situada atrás da íris cuja transparência permite que os raios de luz o atravessem e alcancem a retina para formar a imagem), o que compromete a visão. A evolução costuma ser lenta, e a doença pode afetar primeiro um dos olhos e só mais tarde o outro.
                    </p>
                </div>
        </div>
        <div class="second-row">
            <img src="../../../../assets/images/eye-image.png" alt="eye-icon">
        </div> 
        <div class="third-row">
            <div class="generic-button">
                <h1>Sintomas</h1>
                <p class="generic-title">
                    Como os raios de luz não conseguem atingir totalmente a retina, onde estão localizados os receptores fotossensíveis, quem sofre de catarata tem dificuldade em enxergar com clareza.
                    No início do problema, a pessoa vê como se as lentes dos óculos estivessem embaçadas ou como se houvesse neblina diante dos olhos. À medida que a doença progride, porém, a dificuldade aumenta progressivamente e a pessoa passa a ver apenas figuras, às vezes evoluindo para a cegueira.
                    Outros sintomas que podem ocorrer são visão dupla, sensibilidade à luz ou imagens distorcidas. A pessoa pode reclamar de dificuldade para dirigir, ler e andar, ou relatar que teve quedas frequentes e que suas cores estão desbotadas e sem vida. Ela também pode perder o interesse em ler e costurar porque não consegue enxergar direito.
                </p>
            </div>
    </div>
    </div>
</body>


