  
<body>
    <div class="external-links">
        <a routerLink="/nao-encontrado">
            <img src="../../../../assets/images/store-icon.png" alt="store-icon">
        </a>
        <a routerLink="/login">
            <img src="../../../../assets/images/logout-icon.png" alt="logout-icon">
        </a>
    </div>
    <div class="user-informations">
        <div class="user-photo">
            <img src="../../../../assets/images/user-icon.png" alt="user-logo">
        </div>
        <div class="user-name">
            <p>Dr. Draxler Maximov</p>
            <div class="medical-information">
                <p class="specialty-name">Oftalmologista</p>
                <p class="CRM">CRM: 0123918-5</p>
            </div>
        </div>
    </div>
    <div class="mymodules-title">
        <h1>Meus módulos</h1>
    </div>
    <div class="modules-vision">
        <div class="modules-container">
            <div class="module-item">
                <a routerLink="/oftalmologia">
                <div class="module-image">
                    <img src="../../../../assets/images/eye-icon.png" alt="eye-icon">
                </div>
                <div class="module-name">
                    <p>
                        Oftalmologia
                    </p>
                </div>
            </a>
            </div>
            <div class="module-item">
                <a routerLink="/cardiologia">
                    <div class="module-image">
                        <img src="../../../../assets/images/heart-icon.png" alt="eye-icon">
                    </div>
                    <div class="module-name">
                        <p>
                            Cardiologia
                        </p>
                    </div>
                </a>
            </div>
            <div class="module-item">
                <a routerLink="/ortopedia">
                    <div class="module-image">
                        <img src="../../../../assets/images/orto-icon.png" alt="eye-icon">
                    </div>
                    <div class="module-name">
                        <p>
                            Ortopedia
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

