<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            align-items: center;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;

        }
        .title{
            padding-top: 250px;
            margin: 0 auto;
            text-align: center;
        }

        .title h1{
            color: #786CFF;
        }

        .btn-home a img{
            width: 35px;
            margin-left: 5px;
        }

    </style>
</head>
<body>
    <div class="btn-home">
        <a href="../user-page/user-page.component.html">
            <img src="../../../../../src/assets/images//home-icon.png" alt="home-icon">
        </a>
    </div>

    <div class="title">
        <h1>GREAT THINGS ARE COMING!</h1>
    </div>
    
</body>
</html>
