
<body>
    <div class="btn-home">
        <a routerLink="/user-page">
            <img src="../../../../assets/images/home-icon.png" alt="home-icon">
        </a>
    </div>

    <div class="content">
        <div class="first-line">
            <a routerLink="/nao-encontrado" style="text-decoration: none;">
                <div class="generic-button">
                    <div class="button-decorator">
                    </div>
                    <p class="generic-title">
                        Artrite
                    </p>
                </div>
            </a>
            <a routerLink="/nao-encontrado" style="text-decoration: none;">
                <div class="generic-button">
                    <div class="button-decorator">
                    </div>
                    <p class="generic-title">
                        Menisco
                    </p>
                </div>
            </a>
        </div>

        <div class="second-line">
            <a routerLink="/nao-encontrado" style="text-decoration: none;">
                <div class="generic-button">
                    <div class="button-decorator">
                    </div>
                    <p class="generic-title">
                        Condromalácia
                    </p>
                </div>
            </a>
            <a routerLink="/nao-encontrado" style="text-decoration: none;">
                <div class="generic-button">
                    <div class="button-decorator">
                    </div>
                    <p class="generic-title">
                        Ligamentos
                    </p>
                </div>
            </a>
        </div>

        <div class="third-line">
            <img src="../../../../assets/images/knee-image.png" alt="knee-image">
        </div>
    </div>
</body>
