body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}
.btn-home a img{
        width: 35px;
        margin-left: 5px;
    }
    .generic-button{
    height: 100px;
    width: 450px;
    background-color: #FCB500;
    border-radius: 100px;
    align-items: center;
    display: flex;
    margin: 15px;
}


.button-decorator{
    height: 80px;
    width: 80px;
    background-color: #0500FF;
    border-radius: 100px;
    margin-left: 10px;
}

.generic-title{
    color: white;
    font-size: x-large;
    margin-left: 15px;
}

.content{
    margin-left: 250px;
}

.first-line{
    display: flex;
}

.second-line{
    display: flex;

}

.third-line img{
    width: 400px;
    margin-left: 240px;
}