<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    
        <img class="Img36411" style="width: 237px; height: 254px; left: 60px; top: 138px; position: absolute; border-radius: 1000px" src="https://via.placeholder.com/237x254" />
        <div class="DrAlessandroMacielSchmidt" style="left: 349px; top: 192px; position: absolute; color: black; font-size: 60px; font-family: Inter; font-weight: 400; word-wrap: break-word">Dr. Alessandro Maciel Schmidt</div>
        <img class="Image4" style="width: 79px; height: 76px; left: 20px; top: 24px; position: absolute" src="https://via.placeholder.com/79x76" />
        <div class="Oftalmologista" style="left: 349px; top: 282px; position: absolute; color: #786CFF; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Oftalmologista</div>
        <div class="Crm178227pr" style="left: 780px; top: 288px; position: absolute; color: black; font-size: 35px; font-family: Inter; font-weight: 400; word-wrap: break-word">CRM 178227PR</div>
        <div class="MeusMDulos" style="left: 101px; top: 429px; position: absolute; color: black; font-size: 35px; font-family: Inter; font-weight: 400; word-wrap: break-word">Meus Módulos</div>
        <div class="Rectangle6" style="width: 1500px; height: 300px; left: -10px; top: 488px; position: absolute; background: #786CFF">
            
        </div>
      
</body>
</html>