
<body>
    <div class="btn-home">
        <a routerLink="/user-page">
            <img src="../../../../assets/images/home-icon.png" alt="home-icon">
        </a>
    </div>

    <div class="content">
        <div class="first-row">
            <div class="btn-option">
                <a href="#" style="text-decoration: none;">
                    <div class="generic-button">
                        <div class="button-decorator">
                        </div>
                        <p class="generic-title">
                            Aterosclerose
                        </p>
                    </div>
                </a>
            </div>

            <div class="btn-option">
                <a href="#" style="text-decoration: none;">
                    <div class="generic-button">
                        <div class="button-decorator">
                        </div>
                        <p class="generic-title">
                            Hipertensão
                        </p>
                    </div>
                </a>
            </div>

            <div class="btn-option">
                <a href="#" style="text-decoration: none;">
                    <div class="generic-button">
                        <div class="button-decorator">
                        </div>
                        <p class="generic-title">
                            Infarto
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="second-row">
            <a href="#"><img src="../../../../assets/images/heart-image.png" alt="heart-image">
            </a>

        </div>

        <div class="third-row">
            <div class="btn-option">
                <a href="#" style="text-decoration: none;">
                    <div class="generic-button">
                        <div class="button-decorator">
                        </div>
                        <p class="generic-title">
                            Arritmia
                        </p>
                    </div>
                </a>
            </div>
            <div class="btn-option">
                <a href="#" style="text-decoration: none;">
                    <div class="generic-button">
                        <div class="button-decorator">
                        </div>
                        <p class="generic-title">
                            Cateterismo
                        </p>
                    </div>
                </a>
            </div>
            <div class="btn-option">
                <a href="#" style="text-decoration: none;">
                    <div class="generic-button">
                        <div class="button-decorator">
                        </div>
                        <p class="generic-title">
                            Valvulopatia
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</body>
