
<body>
    
    <div class="btn-home">
        <a routerLink="/user-page">
            <img src="../../../../assets/images/home-icon.png" alt="home-icon">
        </a>
    </div>

    <div class="content">
        <div class="first-row">
            <a routerLink="/oftalmologia/catarata" style="text-decoration: none;">
                <div class="generic-button">
                    <div class="button-decorator">
                    </div>
                    <p class="generic-title">
                        Catarata
                    </p>
                </div>
            </a>
            <a routerLink="/nao-encontrado" style="text-decoration: none;">
                <div class="generic-button">
                    <div class="button-decorator">
                    </div>
                    <p class="generic-title">
                        Glaucoma
                    </p>
                </div>
            </a>
        </div>
        <div class="second-row">
            <img src="../../../../assets/images/eye-image.png" alt="eye-icon">
            <a routerLink="/nao-encontrado" style="text-decoration: none;">
                <div class="generic-button">
                    <div class="button-decorator">
                    </div>
                    <p class="generic-title">
                        Conjuntivite
                    </p>
                </div>
            </a>
        </div>
        <div>
            <a routerLink="/nao-encontrado" style="text-decoration: none;">
                <div class="generic-button">
                    <div class="button-decorator">
                    </div>
                    <p class="generic-title">
                        Miopia
                    </p>
                </div>
            </a>
            <a routerLink="/nao-encontrado" style="text-decoration: none;">
                <div class="generic-button">
                    <div class="button-decorator">
                    </div>
                    <p class="generic-title">
                        Astigmatismo
                    </p>
                </div>
            </a>
        </div>
    </div>
</body>


