<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocSight</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
    <div class="MacbookAir11" style="position: relative; background: white">
        <div class="Rectangle14" style="left: 0px; top: 0px; position: absolute; background: white"></div>
        <img class="CapturaDeTela20230912AS21101" style="width: 523px; left: 129px; top: 217px; position: absolute" src="../assets/images/doc-logo.png" />
        <div>
            <div class="EMail" style="left: 735px; top: 200px; position: absolute; color: black; font-size: 26px; font-weight: 400; word-wrap: break-word">E-mail:</div>
            <input type="email" placeholder="Digite seu e-mail..." style="width: 371px; height: 58px; left: 711px; top: 239px; position: absolute; background: #D9D9D9; border-radius: 100px; padding-left: 10px; border-color: white;">
        </div>
        <div class="Rectangle16" style=" position: absolute; background: #D9D9D9; border-radius: 100px">
            <input type="password" placeholder="Digite sua senha..." style="width: 371px; height: 58px; left: 711px; top: 367px; position: absolute; background: #D9D9D9; border-radius: 100px; padding-left: 10px; border-color: white;">
        </div>
        <a href="./pages/user-page/user-page.component.html">
        <button routerLink="['user-page']" class="btn-login" style="width: 371px; height: 58px; left: 711px; top: 567px; position: absolute; background: #82DEE4; border-radius: 100px; cursor: pointer; font-size: large; border-color: #82DEE4;">
            Log in
        </button>
    </a>
        <a href="./pages/user-page/user-page.component.html">
        <button class="btn-signon" style="width: 371px; height: 58px; left: 711px; top: 484px; position: absolute; background: #82DEE4; border-radius: 100px; cursor: pointer; font-size: large; border-color: #82DEE4;">
            Sign on
        </button>
    </a>

        <div class="Senha" style="left: 735px; top: 331px; position: absolute; color: black; font-size: 26px; font-weight: 400; word-wrap: break-word">Senha:</div>
      </div>
</body>
</html>
