<form class="forms" [formGroup]="formularioLogin" novalidate>
  <mat-form-field class="inputs">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" required>
    <mat-error >Campo obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field class="inputs">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error >Campo obrigatório</mat-error>
  </mat-form-field>

  <button [disabled]="habilitaBotaoLogin()" class="btns" mat-raised-button cdkFocusInitial
    (click)="logar()">Login
  </button>

  <a class="link" [routerLink]="'/register'">Register</a>
</form>

