//Variaveis (cores e tudo mais)
$principal:#82DEE4;
//Pode ser usado para BR e Vale.
$secundario:#82e4d2;
$atencao: #FFB728;
//Status
$aprovado:#008920;
$recusado:#AD0000;
$pendente:#FFF832;
//Demais cores
$cinza-claro-bg: #F3F3F3;
$cinza-headers:#E0E0E0;
$cinza-disabed: #E0E0E0;
$border-color: #dee2e6;
$cinza: #DBDBDB;
$branco: #FFF;
$textos-disabled: #95999e;
$cinza-rascunho: #707070;
$textos: #747678;
$preto: #000000;
$vermelho: #ff0000;
